.btnHomePage{
	margin: auto;
    padding: 10px;
    white-space: nowrap;
	overflow: hidden;
  text-overflow: ellipsis;
  color: white !important;
}

footer.sticky-footer {
    padding: 0 0 !important;
    flex-shrink: 0;
}

.textAlign{
	text-align: center;
}

.cursorPointer{
	    cursor: pointer;
} 

.cursoerPointer:hover {opacity: 0.6}

.rowMargin{ 
    margin-bottom: 1%;
}

.card-header {
     padding: 0px !important;  
}

.controls-top {
    text-align: center;
}

.centerItems{
    text-align: center;
}

@media (min-width: 768px) {
.carousel-multi-item-2 .col-md-3 {
float: left;
width: 25%;
max-width: 100%; } }

.carousel-multi-item-2 .card img {
border-radius: 2px; }

.plusMinusButtons{
	margin-bottom: 3%;
}

input#btnAddQty {
    height: 50px;
    border-radius: 0px !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    margin: 0;
    padding: 5px !important;
}

#qrCode {
    text-align: center !important;
}

/*Profile Pic Start*/
.picture-container{
    position: relative;
    cursor: pointer;
    text-align: center;
}

.picture-container2{
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    padding: 2%;
    width: 50%;
    position: relative;
    cursor: pointer;
    text-align: center;
}

.picture{
    width: 20%; 
    background-color: #999999;
    border: 4px solid #CCCCCC;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 0px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.picture-container2 .picture{
    width: 50%;  
}
.picture:hover{
    border-color: #2ca8ff;
}
.content.ct-wizard-green .picture:hover{
    border-color: #05ae0e;
}
.content.ct-wizard-blue .picture:hover{
    border-color: #3472f7;
}
.content.ct-wizard-orange .picture:hover{
    border-color: #ff9500;
}
.content.ct-wizard-red .picture:hover{
    border-color: #ff3b30;
}
.picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.picture-src{
    width: 100%;
    
}

.picture-src2{ 
        width: 100%;
    max-width: 150px;
    max-height: 150px;
    
}

@font-face {
  font-family: msdFont;
  src: url(../fonts/Calibri.ttf);
}

@font-face {
  font-family: msdFontHeader;
  src: url(../fonts/CalibriBold.ttf);
}

strong {
  font-family: msdFontHeader !important; 
    color: #2e1362 !important;
}

h4{
    font-family: msdFontHeader !important; 
    color: #2e1362 !important;
}

span{
    font-family: msdFont !important;
}

label
{
    font-family: msdFont !important; 
    color: #2e1362 !important;
}

a
{
    font-family: msdFont !important;  
}

body
{
    font-family: msdFont !important; 
    color: #2e1362 !important;
}

.swal-title {
    font-family: msdFont !important; 
    color: #2e1362 !important;
    font-weight: unset !important;
    font-size: 16px !important;
}

.logoImg{
    width: 85%;
}

.border-left-info {
    border-left: .25rem solid #ef4166!important;
}

.btn-primary {
    color: #fff;
    border-radius: 10px !important;
    background-color: #ef4166!important;
    border-color: #ef4166!important;
}

form.user .form-control-user {
    font-size: .8rem; 
    border-radius: 10px !important;
    padding: 1.5rem 1rem;
}


/*Profile Pic End*/ 

/*.container-fluid {
    background: url("../img/terminal.png") !important;
    background-position: right !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}*/

.bg-gradient-primary {
    background-color: #2e1362 !important;
    background-image: linear-gradient(180deg,#2e1362,#2e1362 100%) !important;
    background-size: cover !important;
} 

.bg-gradient-primary2 {
    background-color: #dcddde !important; 
    background-size: cover !important;
} 

select#productList {
    font-size: .8rem;
    border-radius: 10px; 
    height: 50px;
}   

select#campaignList {
    font-size: .8rem;
    border-radius: 10px; 
    height: 50px;
}
select#campaignList2 {
    font-size: .8rem;
    border-radius: 10px; 
    height: 50px;
}  

select#rewardList {
    font-size: .8rem;
    border-radius: 10px; 
    height: 50px;
}  

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.vertical-center2 { 
      zoom: 100%;
    height: 100%;
}

.text-gray-900 {
    font-family: msdFontHeader !important; 
    color: #2e1362!important;
}

.logoImgBackground{
        width: 10%;
    /* left: 30px; */
    right: 0;
    position: absolute;
}

.webpartalHeader{
    color: white;
    margin-left: 10px;
}

input#inputQuantity {
    height: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
} 

.btnSpace{
    margin-bottom: 2px !important;
}

.rowDash { 
    margin-top: 2%;
}

.rowDash2 { 
    margin-top: 10%;
}

input#inputFindCustomer{
    height: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

button#btnFindCustomer {
    height: 50px;
    border-radius: 0px !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    width: 20%;
}

.btn-secondary{
    border-radius: 10px !important;
}

.card.shadow.py-2.cursorPointer {
    border-radius: 10px;
    background-color: #32bcad;
    border: 0px;
}

.sidebar-dark .nav-item.active .nav-link i {
    color: #2e1362;
}

.sidebar-dark .nav-item .nav-link i {
    color: #2e1362; 
}

.sidebar-dark .nav-item.active .nav-link {
    color: #2e1362;
} 

.sidebar-dark .nav-item .nav-link {
    color: #2e1362; 
} 

.sidebar-dark .nav-item .nav-link:hover {
    color: rgba(255,255,255,.8);
}

.sidebar-dark #sidebarToggle::after {
    color: #2e1362;
}

.sidebar-dark.toggled #sidebarToggle::after {
    color: #2e1362;
}

.storeLogoImg{
    max-width: 40%;
    max-height: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.verticalAlign{
    display: table-cell !important;
    vertical-align: middle !important;
    text-align: left;
}

/*.modal-dialog {
    max-width: 60% !important;
}*/

.modalRow{
    margin: 0 !important
}

.removeMarginBottom{
    margin:0px !important;
}

.sideImg{
    width: 100%;
}

.bg-register-image {
    background: url("../img/cropped images-01.png") !important; 
    background-position: center !important;
    background-size: cover !important;
}

.bg-login-image {
    background: url("../img/cropped images-02.png") !important;
    background-position: center !important;
    background-size: cover !important; 
}

.bg-password-image {
    background: url("../img/cropped images-03.png") !important; 
    background-position: center !important;
    background-size: cover !important;
}

.bg-logo-image {
    background: url("../img/Elements-01.png") !important; 
    background-position: center !important; 
    background-repeat: no-repeat !important; 
    background-size: contain !important; 
    text-align: center !important;
    height: 190px;
}

/*.bg-issue-image {
    background: url("../img/Elements-17.png") !important;
    background-position: center !important;
    background-size: cover !important;
}*/

/*.bg-spend-image {
    background: url("../img/Elements-07.png") !important;
    background-position: center !important;
    background-size: cover !important;
}*/

/*.bg-balance-image {
    background: url("../img/Elements-08.png") !important;
    background-position: center !important;
    background-size: cover !important;
}*/

/*.bg-register-image {
    background: url("../img/Elements-09.png") !important;
    background-position: center !important;
    background-size: cover !important;
}*/

.h5.mb-0.font-weight-bold.text-gray-800.btnHomePage {
    text-align: center;
    font-family: msdFontHeader;
}

.petInfoLogo{
    width: 25%; 
    max-height: 150px;
    min-height: 150px;
}

.form-group.petInfo {
    /* width: 80%; */
    /*border: 1px solid;
    padding: 5%;*/
    /* text-align: center; */
}

.modalWidth{
        max-width: 50% !important;
}

.verticallyAlign{
    display: flex !important;
align-items: center !important;
}


.prodQtyBtn{
    width: 20% !important;
        max-width:  20% !important;
}

.prod{
       max-width: 155px;
    min-width: 155px;
    padding-right: 10px;
    margin-bottom: 10px;
    float: left;
}

.prodImg{
    width: 50%;
}

.prodInputField{
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    height: 50px;
}

.issueModalClass{
    max-width: 60% !important;
}

button.swal-button.swal-button--confirm {
    background-color: #ef4166 !important;
    font-family: msdFont !important;
}
 

span.fa.fa-spinner.fa-spin.fa-3x {
    color: white !important;
}
 

i.fa.fa-chevron-circle-left {
    width: 10%;
    font-size: 30px;
    cursor: pointer;
}


@media only screen and (min-width: 576px) {
  .modal-dialog {
        max-width: 70% !important;
        margin: 1.75rem auto;
    }
}

.text-dark {
    color: white !important;
}

.petsListings{
        width: 100%;
    margin: auto;
}

.petProductInputSelect{
        margin-left: auto;
    margin-right: auto;
}

.petProductInput{
        margin-bottom: 10%;
}

.negativeColor {
    color: #fff;
    border-radius: 10px !important;
    background-color: #32bcad!important;
    border-color: #32bcad!important; 
}

#qrCodeNumber{
    text-align: center;
}

#backBtn{
    cursor: pointer;
}


/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1; 
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  width: 50%;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ef4166!important;
  color: white;
}

.scrollOverFlow{
    max-height: 200px;
    width: 100%;
    overflow-x: scroll;
    display: inline-flex;
}

.scrollOverFlow2{
    max-height: 200px; 
    overflow-y: scroll; 
}

.money-bank{
    text-align: right;
}

.wrapText{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrapText:hover {
    text-overflow: clip;
    white-space: normal;
    word-break: break-all;
    cursor: pointer;
}